<h1> Create a new comment!</h1>

<div class="new_comment">
  <form action="/comments" method="POST">
    <li>Message <input type="text" name="mesage" id="message" /></li>
    <li>Author <input type="text" name="author" id="author" /><li>
    <input type="submit" name="commit" id="submit" />
  </form>
</div>
