<article>
  <h1> All Posts! </h1>


    <ul>
        <%@posts.each do |post| %>
          <div class="index_post">
          <a href="/posts/<%= post.id %>"><li><%= post.title %></li></a>
          <li><%= post.author %></li>
          <li><%= post.body %></li>
          <!-- <hr> -->
          </div>
        <% end %>
    </ul>

</article>
