<h1> Create a new post!</h1>

<form action="/posts" method="POST">
  <ul>
    <li>Title <input type="text" name="body" id="title" /></li>
    <li>Author <input type="text" name="body" id="Author" /></li>
    <li>Body <input type="text" name="body" id="body" /></li>
    <li>Submit<input type="submit" name="commit" id="submit" /></li>
  </ul>
</form>
