html, body {
  margin: 0;
  border: 0;
  padding: 0:
  font-family: "Open Sans", "helvetica", sans-serif;
  color: #444;
  background-color: #fff;
  font-size: 100%;
}

a {
  color: #779fba;
  padding: 5px;
  margin: 8px 1em;
}

.navigation {
  background-color: #EEEDF2;
  padding: 0;
  margin: 0;
  overflow:hidden;
}
.navigation ul {
  padding: 0;
  margin:  0;
  list-style: none;
  border: 0;
}

.navigation ul li {
  float: left;
  margin: 0;
  padding; 0;
  border: 0;
}

.menu  li a {
  float:left;
  margin: 0;
  padding: 13px 10px;
  text-decoration: none;
}

section .content {
  background-color: #EEEDF2;
  margin: 30px 1em;
  padding: 0.5em 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 3px;
}

h1 {
  font-size: 1em;
  line-height: 1.25;
  margin: auto;
  padding-top: 30px;
  display: block;
  color: #444;
}

h2 {
  font-size: 1em;
  color: #444;
  margin-bottom: 3em;
}

.sub-header {
  background: #e8f0f5;
  padding: 20px 0;
  text-align: center;
  margin: 1em 0;
}

.sub-header .button {
  background-color: #B79C8F;
  margin: 1em auto 0em auto;
  color: #fff;border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 5px;
  text-decoration: none;
}

input#submit {
    background-color: #B79C8F;
    width: 8em;
    height: 3em;
    margin: 1em auto 0em auto;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 5px;
    text-decoration: none;
}

input.button {
  background-color: #B79C8F;
  width: 8em;
  height: 3em;
  margin: 1em auto 0em auto;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 5px;
  text-decoration: none;
}

label{
    display:inline-block;
    width:100px;
}

ul .index_post {
  list-style: none;
  background-color: #EEEDF2;
  margin: 30px 1em;
  padding: 0.5em 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 3px;
}

.post lu {
  list-style: none;
  *margin: 0 0 3px 0;
}

.new_post ul {
  list-style: none;
  display:inline-block;
  width:100px;
}

.new_post{
  margin: 10px 5px;
}

.new_post input#submit {
  background-color: #B79C8F;
  width: 15em;
  height: 3em;
  margin: 1em auto 0em auto;
  color: #fff;border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 5px;
  text-decoration: none;
  postion: absolute;
  top: 50%;
}

.show_post h2 {
  font-size: 1em;
  font-weight: lighter;
  margin: auto;
  padding-top: 15px;
  display: block;
  color: #444;
}

.new_comment {
  list-style: none;
}

.new_comment ul {
  list-style: none;
  display:inline-block;
  width:100px;
}

.new_comment li {
  list-style: none;
  margin: 10px 5px;
}

.show_comment input#submit {
  width: 15em;
  height: 3em;
}

.show_comment h2 {
  font-weight: lighter;
}

.edit_post {

}

footer {
  background-color:  #779FBA;
  width: 100%;
  min-height: 4em;
}

.footer-menu {
  background-color:  #779FBA;
  color: #f444;
  position: relative;
  height: 100%;
}

.footer-menu  ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #444;
}

.footer-menu ul li a {
  float: right;
  margin:15px;
  padding: 13px 10px;
  text-decoration: none;
  color: #444;
}
